body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg-greenL {
  background: #e8f7f1;
  border: 1px solid #f4fbfb;
}

.form-sel {
  height: 40px;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid #000;
}

.form-inp {
  height: 40px;
  border-radius: 4px;
  padding: 10px;
  width: 80%;
  border: 1px solid #000;
}

.header-green {
  justify-content: flex-start;
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 20;
  font-weight: bold;
  background-image: linear-gradient(#62b87b, #48a09e);
  height: 45px;
  padding: 5px;
  padding-left: 15px;
  margin: 5px;
  border-radius: 10px ;
}

.button {
  background-image: linear-gradient(#62b87b, #48a09e);
  height: 45px;
  padding: 10px;
  margin: 5px;
  color: #fff;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.but-row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}